$hover-color: #00a3ac;
.timer--outer {
  display: flex;

  h2 {
    margin-right: 20px;
    min-width: 40px;
    border: none;
  }

  .timer--inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    width: 100px;
    &:hover {
      background-color: $hover-color;
      color: white;
      cursor: pointer;
    }
  }
}
