$hover-color: #00a3ac;
$patientItem-color: #f5fbff;
$border-color: #2e7dab;

.patientList {
  padding-left: 20px;
}
.patientItem--outer {
  display: flex;
  padding: 20px 20px 20px 20px;
  background-color: $patientItem-color;
  border: 1px solid $border-color;
  margin-bottom: 70px;
  .timerSetup {
    flex: 1;
    display: flex;
    height: 100px;
    > div {
      margin: 0 20px 0 20px;
    }
  }

  .incDecSetup--buttons {
    display: flex;
  }
  .callPatient {
    flex: 2;
    display: flex;
    align-items: center;

    > h2 {
      border-radius: 5px;
      border: 1px solid $border-color;
      padding: 8px;
      &:hover {
        background-color: $hover-color;
        color: white;
        cursor: pointer;
      }
    }
    .h2gray {
      color: gray;
      border: none;
      &:hover {
        color: gray;
        background-color: $patientItem-color;
        pointer-events: none;
      }
    }
    .h2black {
      color: black;
    }
  }
}

.incDec {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
}
